name: yamllint
"on":
  pull_request:
    branches: ["main"]
    paths:
      - "**.nix"
      - "**.yaml"
      - "**.yml"
      - .github/workflows/yamllint.yaml
      - .yamllint.yaml
      - flake.lock

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Check YAML files
        run: nix develop --command yamllint --format github .
